<%- include('../partials/header') %>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>FlightNo: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs%></div>
    <!-- start cast list -->
</section>
<h2>Add destination</h2>
<form id="add-review-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <select name="airportD">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Arrival:</label>
  <input type="type" name="arrival" type="date" placeholder="mm/dd/yyy">
  
  <input type="submit" value="Add">
</form>
<table>
    <thead>
      <tr>
        <th>Arrival</th>
        <th>Destination</th>
      </tr>
    </thead>
    <tbody> 
        <% flight.destinations.forEach(function(f) { %>
            <tr>
              <td><%= f.arrival%></td>
              <td><%= f.airportD%></td>
            </tr>
          <% }); %>
    </tbody>
  </table>
  <h2>Tickets</h2>
  <a href="/flights/<%= flight._id%>/tickets/new">add ticket</a>
  <% if(tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price $</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>

        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h4>No Tickets Yet</h4>
  <% } %>

<%- include('../partials/footer') %>